In [121]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

<h1>
Numpy
</h1>
Numpy是支持大量的维度数组和矩阵运算，也包含大量数据科学的函数库
Numpy的核心是ndarray对象

In [122]:
# 新建数组
data = np.array([1, 2, 3, 4, 5])

# 创建一个二维数组
data2 = np.array([[1, 2, 3], [4, 5, 6]])

# 创建全0数组
zeros = np.zeros(5)
zeros = np.zeros((5,3))

# 创建全1数组
ones = np.ones(5)
ones = np.ones((5,3))

# 创建连续序列数组
seq = np.arange(1,10,2) # 从1开始，步长为2，到10结束

# 创建连续有间隔的数组
seq2 = np.linspace(1,10,20)
print(seq2)

# 改变数组
seq2 = seq2.reshape((5,4))

[ 1.          1.47368421  1.94736842  2.42105263  2.89473684  3.36842105
  3.84210526  4.31578947  4.78947368  5.26315789  5.73684211  6.21052632
  6.68421053  7.15789474  7.63157895  8.10526316  8.57894737  9.05263158
  9.52631579 10.        ]

In [123]:
# 数组的转置
seq2.T
# 数组形状
seq2.shape
# 数组元素个数
seq2.size
# 数组元素类型
data.dtype

dtype('int32')

In [124]:
# 数组的运算
array1 = np.array([1, 2, 3])
array2 = np.array([4, 5, 6])

# print(array1+array2)
# print(array1-array2)

# 数组中的数学元素
print(np.mean(array1))
print(np.median(array1))
print(np.std(array1))
print(np.var(array1))
print(np.min(array1))
print(np.max(array1))
print(np.sum(array1))

2.0
2.0
0.816496580927726
0.6666666666666666
1
3
6

# Pandas 
Pandas的主要数据结构是series(一维)和dataframe(二维)。

In [125]:
# 创建对象
list1 = pd.Series(data = ["斗罗大陆","斗破苍穹","不良人","仙逆","斩神"],name="国漫")
list2 = pd.Series(data = ["唐三","萧炎","李星云","王麻子","林七夜"],index=["斗罗大陆","斗破苍穹","不良人","仙逆","斩神"],name="男主")
print(list1[1])
print(list2["斗破苍穹"])
print(list1[1:5])
list2["仙逆"] = "王林"
list1.axes
list2.values # 值
list2.ndim # 维度
list2.size # 元素个数
list2.dtype # 数据类型
list2.head() # 前5行
list2.tail(2) # 最后5行

斗破苍穹
萧炎
1    斗破苍穹
2     不良人
3      仙逆
4      斩神
Name: 国漫, dtype: object

仙逆     王林
斩神    林七夜
Name: 男主, dtype: object

In [126]:
# 创建表格对象
data = {
    "动漫名称":["斗破苍穹","不良人","仙逆"],
    "男主角":["萧炎","李星云","王林"],
    "年龄":[24,20,400],
    "战力值":[500.00,100.0,1000.0]
}
df = pd.DataFrame(data=data)
df

   动漫名称  男主角   年龄     战力值
0  斗破苍穹   萧炎   24   500.0
1   不良人  李星云   20   100.0
2    仙逆   王林  400  1000.0

In [127]:
# 查看数据基本信息
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   动漫名称    3 non-null      object
 1   男主角     3 non-null      object
 2   年龄      3 non-null      int64
 3   战力值     3 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 228.0+ bytes

In [128]:
# 统计信息
df.describe()

               年龄          战力值
count    3.000000     3.000000
mean   148.000000   533.333333
std    218.247566   450.924975
min     20.000000   100.000000
25%     22.000000   300.000000
50%     24.000000   500.000000
75%    212.000000   750.000000
max    400.000000  1000.000000

In [129]:
df.columns

Index(['动漫名称', '男主角', '年龄', '战力值'], dtype='object')

In [130]:
# 查看
df.index

RangeIndex(start=0, stop=3, step=1)

In [131]:
# 常看前n条
df.head()

   动漫名称  男主角   年龄     战力值
0  斗破苍穹   萧炎   24   500.0
1   不良人  李星云   20   100.0
2    仙逆   王林  400  1000.0

In [132]:
df.values

array([['斗破苍穹', '萧炎', 24, 500.0],
       ['不良人', '李星云', 20, 100.0],
       ['仙逆', '王林', 400, 1000.0]], dtype=object)

In [133]:
# 提取列的数据
df[["男主角","动漫名称"]]

   男主角  动漫名称
0   萧炎  斗破苍穹
1  李星云   不良人
2   王林    仙逆

In [134]:
# 显式索引 通过列名、行索引
df.loc[1,"动漫名称"]
df.loc[1,"动漫名称":"年龄"]

动漫名称    不良人
男主角     李星云
年龄       20
Name: 1, dtype: object

In [135]:
# 隐式索引
df.iloc[0]
df.iloc[2,1:3]

男主角     王林
年龄     400
Name: 2, dtype: object

In [136]:
#  新增行
df.loc[len(df)] = ["斩神","林七夜",20,300]
df

   动漫名称  男主角   年龄     战力值
0  斗破苍穹   萧炎   24   500.0
1   不良人  李星云   20   100.0
2    仙逆   王林  400  1000.0
3    斩神  林七夜   20   300.0

In [137]:
df["性别"] = pd.Series(["男","男","男","男"])
df

   动漫名称  男主角   年龄     战力值 性别
0  斗破苍穹   萧炎   24   500.0  男
1   不良人  李星云   20   100.0  男
2    仙逆   王林  400  1000.0  男
3    斩神  林七夜   20   300.0  男

In [138]:
# 新增列的另一种方式
df.insert(2, column="女主角", value=["薰儿","姬如雪","走,带你去杀人",""])
df

   动漫名称  男主角      女主角   年龄     战力值 性别
0  斗破苍穹   萧炎       薰儿   24   500.0  男
1   不良人  李星云      姬如雪   20   100.0  男
2    仙逆   王林  走,带你去杀人  400  1000.0  男
3    斩神  林七夜            20   300.0  男

In [139]:
# 删除列
df = df.drop(columns="战力值")
df

   动漫名称  男主角      女主角   年龄 性别
0  斗破苍穹   萧炎       薰儿   24  男
1   不良人  李星云      姬如雪   20  男
2    仙逆   王林  走,带你去杀人  400  男
3    斩神  林七夜            20  男

In [140]:
# 删除行
df = df.drop(index=3,inplace=True)
df

   动漫名称  男主角      女主角   年龄 性别
0  斗破苍穹   萧炎       薰儿   24  男
1   不良人  李星云      姬如雪   20  男
2    仙逆   王林  走,带你去杀人  400  男

In [141]:
# 修改
df.loc[2,"女主角"] = "林婉儿"
df

   动漫名称  男主角  女主角   年龄 性别
0  斗破苍穹   萧炎   薰儿   24  男
1   不良人  李星云  姬如雪   20  男
2    仙逆   王林  林婉儿  400  男

In [142]:
# 修改列名
# inplace=True 布尔值参数,默认为False表示删除后返回一个副本,不会在原本的数据上修改
df.rename(columns={"年龄":"岁数"},inplace=True)
df

   动漫名称  男主角  女主角   岁数 性别
0  斗破苍穹   萧炎   薰儿   24  男
1   不良人  李星云  姬如雪   20  男
2    仙逆   王林  林婉儿  400  男

In [147]:
# 排序
df = df.sort_values(by="岁数",ascending=True)
df

   动漫名称  男主角  女主角   岁数 性别
1   不良人  李星云  姬如雪   20  男
0  斗破苍穹   萧炎   薰儿   24  男
2    仙逆   王林  林婉儿  400  男

In [148]:
df.sort_index(ascending=False)

   动漫名称  男主角  女主角   岁数 性别
2    仙逆   王林  林婉儿  400  男
1   不良人  李星云  姬如雪   20  男
0  斗破苍穹   萧炎   薰儿   24  男